
@{
    ViewBag.Title = "form7";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using Community_Appeal_Web_Application.Models

@model Basvuru

@{
    if (Model != null)
    {
        if (TempData["YönetimHata"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@TempData["YönetimHata"]</strong>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Yönetim Kurulu
                    </header>
                    <div class="panel-body">
                        <form role="form" method="post" action="/Home/form7YonetimKuruluKaydet">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Açılış Yapan Kişi</label>
                                        <select class="form-control" id="list" name="marscı">
                                            <option>Açılış Yapan Kişiyi Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.adi @item.soyadi">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Üye Sayısı</label>
                                        <input name="uyeSayisi" class="form-control" placeholder="Üye Sayısı Giriniz..." />
                                    </div>

                                    <div class="form-group">
                                        <label>Divan Başkanı</label>
                                        <select class="form-control" id="list" name="divanBasId">
                                            <option>Divan Başkanı Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label>Başkan Yardımcısı</label>
                                        <select class="form-control" id="list" name="baskanYarId">
                                            <option>Başkan Yardımcısı Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Yazman</label>
                                        <select class="form-control" id="list" name="yazmanId">
                                            <option>Yazman Başkanı Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Sekreter</label>
                                        <select class="form-control" id="list" name="sekreterId">
                                            <option>Sekreter Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>                       
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Yönetim Kuruluna Üye Ekle</label>
                                        <select onchange="myFunction()" class="form-control" id="ogrenci">
                                            <option>Üye Seçiniz...</option>
                                            @foreach (var item in Model.OgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>
                                    <button type="submit" style="margin-right: 5px;" class="btn btn-info">Yönetim Kurulunu Kaydet</button>
                                    <a href="#" id="ekle" class="btn btn-success" style="margin-right: 5px;"><i class="glyphicon-plus"></i> Üye Ekle</a>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </section>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Denetim Kurulu
                    </header>
                    <div class="panel-body">
                        <form role="form" method="post" action="/Home/form7DenetimKuruluKaydet">
                            
                            <div class="form-group">
                                <label>Denetim Kurulu Başkanı</label>
                                <select class="form-control" id="list" name="baskanId">
                                    <option>Denetim Kurulu Başkanını Seçiniz...</option>
                                    @foreach (var item in Model.OgrenciListesi.ToList())
                                    {
                                        <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                    }
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>Denetim Kuruluna Üye Ekle</label>
                                <select onchange="myFunction1()" class="form-control" id="ogrenci1">
                                    <option>Üye Seçiniz...</option>
                                    @foreach (var item in Model.OgrenciListesi.ToList())
                                    {
                                        <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" style="margin-right: 5px;" class="btn btn-info">Denetim Kurulunu Kaydet</button>
                            <a href="#" id="ekle1" class="btn btn-success" style="margin-right: 5px;"><i class="glyphicon-plus"></i> Üye Ekle</a>
                            @{
                                if (Model.adimNo == 6)
                                {
                                    <a href="#" style="margin-left: 5px;" class="btn btn-primary">Form 7</a>
                                }
                            }

                        </form>
                    </div>
                </section>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Form 7
                    </header>
                    <section class="panel-body" style="padding-left: 90px; padding-right: 90px">
                        <div style="float: right;">
                            <p style="text-indent: 35.4pt;"><span style="font-size: 12.0pt;font-family: 'Times New Roman', serif;">Ek-7</span></p>
                        </div>
                        <br /><br />
                        <br /><br />
                        <div style="text-align: center;">
                            <p style="">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif;">
                                    DÜZCE ÜNİVERSİTESİ <b>@Model.toplulukAdi TOPLULUĞU</b><br/>
                                    OLAĞAN/OLAĞANÜSTÜ GENEL KURUL TUTANAĞI<br/>
                                    <b>@DateTime.Now.ToShortDateString()</b>
                                </span>
                            </p>
                        </div>
                        <br />
                        <div style="">
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif;text-align: justify">
                                    Düzce Üniversitesi <b>@Model.toplulukAdi</b> Topluluğu 
                                    <b>@Model.toplantiTarihi.ToString().Substring(0, 10)</b>
                                    Tarihinde saat <b>@Model.saat</b>'de <b>@Model.mekan</b>'de,
                                    <b>@Model.toplantiNo</b>'ıncı (birinci, ikinci, üçüncü vb.) olağan
                                    genel kurul toplantısı gerçekleştirilmiştir.
                                    <br /><br />
                                    Gündemin birinci maddesi gereği, genel kurul toplantısı @{
                                                                                                if (Model.uyeSayisi == null)
                                                                                                {
                                                                                                    <span>……</span>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <b>@Model.uyeSayisi</b>
                                                                                                }
                                                                                            }
                                    üye ile @{
                                                if (Model.marscı == null)
                                                {
                                                    <span>…………………………………………</span>
                                                }
                                                else
                                                {
                                                    <b>@Model.marscı</b>
                                                }
                                            }
                                   (kişi ismi yazılacak) tarafından açıldı.
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Açılış ve yoklama gerçekleştikten sonra @{
                                                                                if (Model.marscı == null)
                                                                                {
                                                                                    <span>…………………………………………</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <b>@Model.marscı</b>
                                                                                }
                                                                            } (kişi ismi yazılacak) katılanları
                                    saygı duruşunda bulunmaya ve İstiklal Marşı’nı söylemeye davet etti.
                                    <br /><br />
                                    Gündemin ikinci maddesi gereği, toplantıyı yönetmek üzere Divan Kurulu oluşturuldu.
                                    Divan Başkanlığı’na @{
                                                            if (Model.divanBaskanAdi == null)
                                                            {
                                                                <span>…………………………………………</span>
                                                            }
                                                            else
                                                            {
                                                                <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                            }
                                                        } (kişi ismi yazılacak), Başkan Yardımcılığına @{
                                                                                                           if (ViewBag.BaskanYar == null)
                                                                                                           {
                                                                                                               <span>…………………………………………</span>
                                                                                                           }
                                                                                                           else
                                                                                                           {
                                                                                                               <b>@ViewBag.BaskanYar.adi<span> </span>@ViewBag.BaskanYar.soyadi</b>
                                                                                                           }
                                                                                                       }
                                    (kişi ismi yazılacak), Yazman üyeliğine @{
                                                                                if (ViewBag.Yazman == null)
                                                                                {
                                                                                    <span>…………………………………………</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <b>@ViewBag.Yazman.adi<span> </span>@ViewBag.Yazman.soyadi</b>
                                                                                }
                                                                            } (kişi ismi yazılacak) seçildi.
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin üçüncü maddesi gereği, @{
                                                                        if (Model.akademikYıl == null)
                                                                        {
                                                                            <span>…………………………………………</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <b>@Model.akademikYıl</b>
                                                                        }
                                                                    } Akademik yılında gerçekleştirilecek etkinlikler
                                    belirlenmiştir. (Burada gerçekleştirilecek etkinlikler anlatılacaktır.)
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin dördüncü maddesi gereği, bütçe önerisi görüşüldü. (Burada gerçekleştirilecek
                                    etkinlikler için bütçeden bahsedilecek.)
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin beşinci maddesi gereği, Divan Başkanı @{
                                                                                       if (Model.divanBaskanAdi == null)
                                                                                       {
                                                                                           <span>…………………………………………</span>
                                                                                       }
                                                                                       else
                                                                                       {
                                                                                           <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                                                       }
                                                                                   } (kişi ismi yazılacak)
                                    yönetim kurulunun ibrazının gerektiğini belirtti.
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin altıncı maddesi gereği, yönetim kurulunun, denetleme kurulunun,
                                    (topluluk tüzüğünde belirtilen başka kurul varsa burada yazılacak) seçimine 
                                    Divan Başkanı @{
                                                      if (Model.divanBaskanAdi == null)
                                                      {
                                                          <span>…………………………………………</span>
                                                      }
                                                      else
                                                      {
                                                          <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                      }
                                                  } (kişi ismi yazılacak) başkanlığında geçildi.
                                </span>
                            </p>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Yönetim Kurulu için gerekli koşulları ve görevlerini Divan Başkanı @{
                                                                                                           if (Model.divanBaskanAdi == null)
                                                                                                           {
                                                                                                               <span>…………………………………………</span>
                                                                                                           }
                                                                                                           else
                                                                                                           {
                                                                                                               <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                                                                           }
                                                                                                       } (kişi ismi yazılacak)
                                    üyelere anlattıktan sonra Yönetim Kurulu’na üye olmak isteyen kişiler kendilerini tanıttı.
                                    Yönetim Kurulu üyesi olmak isteyen kişiler aşağıdadır:
                                </span>
                            </p><br/>
                            
                            <div class="append">
                                @{
                                    Html.RenderAction("uyeListesiWidget");
                                }
                            </div><br/>
                            
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Divan Başkanı @{
                                                      if (Model.divanBaskanAdi == null)
                                                      {
                                                          <span>…………………………………………</span>
                                                      }
                                                      else
                                                      {
                                                          <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                      }
                                                  } (kişi ismi yazılacak) yönetim kurulu üyesi olmak isteyen üyelere Yönetim Kurulu’nun
                                    @{
                                        if (Model.YonetimKurulu == null)
                                        {
                                            <span>………………………</span>
                                        }
                                        else
                                        {
                                            <b>@Model.YonetimKurulu.Count()</b>
                                        }
                                    } (topluluk tüzüğünde belirtilen yönetim kurulu üyelerinin neler olduğu ve kaç kişiden oluştuğu
                                    yazılacak) oluştuğunu söyledikten sonra üyelere söz vererek talep ettikleri kurul üyeliğini sordu.
                                    Buna göre Yönetim Kurulu şu kişilerden oluşmuştur; (Burada kurul üyeliklerine kimlerin seçildiği
                                    yazılacak)  
                                </span>
                            </p><br />
                            
                            <table class="table" style="width: 70%; margin: auto; border: solid; border: solid; border-color:lightgrey;border-width: 2px">
                                <thead>
                                <tr>
                                    <th>Sıra No</th>
                                    <th>Görev Adı</th>
                                    <th>Adı Soyadı</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody class="kisi">
                                @{
                                    int i = 0;
                                    foreach (var item in ViewBag.yk1)
                                    {
                                        i++;
                                        if (i == 1)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.unvan</td>
                                                <td>@item.adi @item.soyadi</td>
                                                <td></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.unvan</td>
                                                <td>@item.adi @item.soyadi</td>
                                                <td class="sil"><a href="/Home/uyeListesiSil/@item.ID" class="btn btn-danger btn-xs itemDelete"> <i class="icon-trash"> Sil</i></a></td>
                                            </tr>
                                        }
                                    }
                                }
                                </tbody>
                            </table>

                        </div>
                        <br />
                        
                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Yönetim Kurulu seçiminin ardından Denetleme Kurulu seçimine geçilmiştir.
                                Yapılan seçimin ardından Denetleme Kurulu şu kişilerden oluşmuştur;
                            </span>
                        </p>
                        
                        <table class="table" style="width: 70%; margin: auto; border: solid; border: solid; border-color:lightgrey;border-width: 2px">
                            <thead>
                            <tr>
                                <th>Sıra No</th>
                                <th>Görev Adı</th>
                                <th>Adı Soyadı</th>
                                <th>Sil</th>
                            </tr>
                            </thead>
                            <tbody class="kisi">
                            @{
                                int a = 1;
                                foreach (var item in ViewBag.dk)
                                {
                                    a++;
                                    <tr>
                                        <td>@a</td>
                                        <td>@item.unvan</td>
                                        <td>@item.adi @item.soyadi</td>
                                        <td class="sil"><a href="/Home/dUyeListesiSil/@item.ID" class="btn btn-danger btn-xs itemDelete"><i class="icon-trash"> Sil</i></a></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                        <br/>
                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                                  if (Model.divanBaskanAdi == null)
                                                  {
                                                      <span>…………………………………………</span>
                                                  }
                                                  else
                                                  {
                                                      <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                  }
                                              } (kişi ismi yazılacak) Yönetim Kurulu ve Denetleme Kurulu üyelerinin seçimlerinin bittiğini
                                ve seçimlerle ilgili konuşmak isteyen olup olmadığını toplantıya katılan üyelere sordu. 
                                (Topluluk tüzüğünde belirtilen başka Kurul varsa onların üye seçimi de yapılacak ve burada yazılacak)
                            </span>
                        </p>
                        
                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                                  if (Model.divanBaskanAdi == null)
                                                  {
                                                      <span>…………………………………………</span>
                                                  }
                                                  else
                                                  {
                                                      <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                  }
                                              } (kişi ismi yazılacak) gündemin yedinci maddesi gereği sözü konuşmak isteyen üyelere verdi.
                                (Söz almak isteyen çıkmazsa kapanışa geçileceği söylendi.)
                            </span>
                        </p>
                        
                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                                  if (Model.divanBaskanAdi == null)
                                                  {
                                                      <span>…………………………………………</span>
                                                  }
                                                  else
                                                  {
                                                      <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                                  }
                                              } (kişi ismi yazılacak) gündemin sekizinci maddesi gereği kapanışa geçti ve toplantıyı bitirdi.
                            </span>
                        </p>
                        <br/><br/>
                        <div style="float: right">
                            <p style="text-indent: 35.4pt; text-align: center">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Düzce Üniversitesi @{
                                                           if (Model.toplulukAdi == null)
                                                           {
                                                               <span>…………………………………………</span>
                                                           }
                                                           else
                                                           {
                                                               <b>@Model.toplulukAdi</b>
                                                           }
                                                       } Topluluğu Yön.Kur.Bşk<br />
                                    Unvan Ad Soyad/İmza
                                    

                                </span>
                            </p>
                        </div>
                        <br/><br/>
                    </section>
                </section>
            </div>
        </div>

    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <strong><p style="font-size:18px;"> @ViewBag.Hata</p></strong>
        </div>
    }
}

<script>

    function myFunction() {
        var selector = document.getElementById('ogrenci');
        var valuea = selector[selector.selectedIndex].value;
        document.getElementById('ekle').href = "/Home/yonetimKuruluUyeEkle/" + valuea;
    }

    function myFunction1() {
        var selector = document.getElementById('ogrenci1');
        var valuea = selector[selector.selectedIndex].value;
        document.getElementById('ekle1').href = "/Home/denetimKuruluUyeEkle/" + valuea;
    }

</script>